.slider {
  width: 400px;
  height: 550px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.active {
  opacity: 1;
}

.prev, .next {
  position: absolute;
  top: 50%;
  background: black;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.dots {
  text-align: center;
  margin-top: 10px;
}

.dots span {
  height: 10px;
  width: 10px;
  background: gray;
  display: inline-block;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}
